@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: wavy;
    color: blue;
}

a:visited {
    color:blueviolet;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 15px;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info-text {
    margin-left: 40px;
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.container {
    max-width: 750px;
    margin: auto;
}


.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: #f5ebbd;
}

.bg-red {
    background: #f3dcdc;
}

.bg-green {
    background: #d8f3c5;
}

.orderedList {
    padding: 0 20px;
}

.orderedList li {
    color: black;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #474a50;
}

.form-block label {
    display: block;
    font-size: 14px;
    color: #86898f;
    margin-top: 15px;
}